body {
  background-image: url("fondosw.gif");
}
  .Apartado {
    text-align: center;
    background-position: center;
    color: MintCream;
  }
 .Información {
   text-align: center;
   background-color: darkred;
   color: lavender;
 }
