body {
  background-image: url("fondosw1.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  .foto {
    width: 100px;
    margin-left: 115px;

  }
  .título {
    text-align: center;
    font-style: oblique;
    background-color: white;
    border-left-style: outset;
    border-right-style: outset;
    border-top-style: double;
    border-bottom-style: double;
    border-left-color: black;
    border-right-color: black;
    border-top-color: midnightblue;
    border-bottom-color: midnightblue;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    font-size: xx-large;
  }
  .Apartado {
    font-family: "Allerta Stencil", Sans-serif;
    text-align: center;
    border-bottom-style: double;
    margin-left: 100px;
    margin-right: 100px;
    background-color: Turquoise;
    color: MintCream;
    font-size: x-large;
  }
 .Información {
   background-color:maroon;
   border-left-style: dashed;
   border-right-style: dashed;
   border-top-style: ridge;
   border-bottom-style: ridge;
   border-left-color: lightblue;
   border-right-color: lightblue;
   border-top-color: darkslategray;
   border-bottom-color: darkslategray;
   border-width: 4px;
   margin-left: 100px;
   margin-right: 100px;
   color: moccasin;
   padding: 0px;
 }
  a {
    color: lightblue;
  }
  .fotodeperfil {
    position: absolute;
    right: 150px;
    width: 144px;
    border-style: outset;
    border-color: aqua;
    border-width: 5px;

  }
   .gifgithub {
     width: 40px;
     height: 20px;
   }
  .fotogmail {
      width: 25px;
      height: 25px;
  }
  .logourjc {
        width: 25px;
        height: 25px;
  }
