body {
  background-image: url("fondosw.gif");
}
  .Apartado {
    text-align: center;
    background-position: center;
    color: MintCream; 
  }
 .Información {
   background-color: darkred;
   color: lavender;
 }
